.social-icon-bar {
  position: fixed;
  margin: 2px;
  padding: .2em;
  background: rgba(17, 18, 19, 0.45);
  top: 40%;
  border-radius: .4em;
  transition: top 1s ease;
  z-index: 100; }
  .social-icon-bar p {
    margin: .2em; }
    .social-icon-bar p :hover {
      border: 1x;
      border-color: #e75926; }
  .social-icon-bar span {
    color: white; }
    .social-icon-bar span :hover {
      color: #e75926; }
