body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	width: 100% !important;
	height: 100% !important;
}
h1 {
	font-weight: 700;
}
h1 strong {
	font-weight: 900;
}
h2 {
	text-transform: uppercase;
	line-height: 20px;
	font-weight: 600;
	margin: 0;
	color: #555;
}
h3 {
	font-size: 16px;
	font-weight: 700;
	color: #555;
}
h4 {
	font-weight: 500;
	color: #555;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 14px;
}
a {
	color: #754747;
}
a:hover, a:focus {
	text-decoration: none;
	color: #F4D03F;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ddd;
	z-index: 99999;
	height: 100%;
}
#status {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
	padding: 0;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #E75926;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}
/* Navigation */
.navbar-custom {
	padding: 0;
	border-bottom: 0;
	letter-spacing: 1px;
	background: #333;
	text-transform: uppercase;
}

.navbar-custom:hover{
	opacity: 1!important;
}

.navbar-custom .navbar-brand {
	font-weight: 600;
}
.navbar-custom .navbar-brand i.fa {
	color: #E75926;
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-custom .navbar-toggle {
	color: #eee;
	font-size: 18px;
	border-radius: 2px;
	padding: 0 4px;
}
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
	background-color: #E75926;
	color: #ffffff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.navbar-custom a {
	color: #fff;
}
.navbar-custom .nav li a {
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: #E75926;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #E75926;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}
/* Home Section */
#intro {
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #fff;

	background: linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),url("../img/intro-bg.jpg") no-repeat center center fixed;
	background-color: #000;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
#intro .intro-body {
	display: table-cell;
	vertical-align: middle;
}
#intro .intro-body H1 {
	font-size: 76px;
	font-weight: 700;
	color: rgba(255,255,255,0.8);
	text-transform: uppercase;
}
#intro .intro-body .brand-heading {
	color: #E75926;
	text-shadow: 0 4px #a13e1a;
}
#intro .intro-body .intro-text {
	font-size: 18px;
}

@media(min-width:768px) {
#intro {
	height: 120%;
	padding: 0;
}
#intro .intro-body .intro-text {
	font-size: 18px;
	letter-spacing: 1px;
	margin-bottom: 100px;
	color: rgba(255,255,255,0.9);
}
}
.btn-default {
	color: #f6f6f6;
	background: #cf5022;
	border: 0;
	padding: 12px 24px;
	margin: 0 8px;
	font-size: 18px;
	transition: all 0.5s;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #f6f6f6;
	background-color: #a13e1a;
}
.section-title.center {
	padding: 30px 0;
}
.section-title h2, .section-title.center h2 {
	margin-bottom: 30px;
}
/* About Section */
#about {
	padding:0 0 40px 0;/*padding: 140px 0;*/
	background:#3f4c57;/*background: #f6f6f6;*/
	/*background-image: url("../img/ash_gray_texture.jpg");*/
	border-bottom: 2px;
	border-color: black;
}
#about .about-text {
	margin-left: 10px;
}
#about H4 {
	font-size: 20px;
}
#about li {
	margin-bottom: 3px;
	list-style: none;
	padding: 0;
	font-size: 13px;
}
#about li:before {
	content: "✓";
	font-weight: 600;
	padding-right: 10px;
	color: #e75926;
}
#about i.fa {
	float: left;
	display: block;
	margin-right: 15px;
	color: #fff;
	font-size: 44px;
	text-shadow: 0 0 1px #666;
}
#about img {
	margin-top: 20px;
}
#about p {
	margin-top: 20px;
	margin-bottom: 30px;
}
/* skills Section */
#skills {
	/*padding: 140px 0;*/
	/*background: url("../img/skills-bg.jpg");*/
	background-size: cover;
	background-attachment: fixed;
}
#skills .service {
	padding: 20px 10px;
}
#skills h2 {
	color: #f6f6f6;
}
#skills h3 {
	font-size: 20px;
	font-weight: 600;
	color: #f6f6f6;
}
#skills p {
	color: rgba(255,255,255,0.7);
}
.space {
	margin-top: 40px;
}
#skills i.fa {
	font-size: 36px;
	color: #E75926;
	transition: all 0.5s;
}
/* Gallery Section */
#works {
	padding: 50px 0;
	background: #f6f6f6;
}
.categories {
	padding-bottom: 30px;
	text-align: center;
}
ul.cat li {
	display: inline-block;
}
ol.type li {
	display: inline-block;
	margin-left: 20px;
	padding-top: 30px;
}
ol.type li a {
	color: #777;
	padding: 8px 16px;
	border: 1px solid #ccc;
	border-radius: 2px;
}
ol.type li a.active {
	color: #f6f6f6;
	border: 1px solid #cf5022;
	background: #cf5022;
}
ol.type li a:hover {
	color: #f6f6f6;
	border: 1px solid #cf5022;
	background: #cf5022;
}
.isotope-item {
	z-index: 2
}
.isotope-hidden.isotope-item {
	z-index: 1
}
.isotope, .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope-item {
	margin-right: -1px;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.isotope {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.portfolio-item {
	margin-bottom: 30px;
	border:1px solid #e75926;
}
.portfolio-item .hover-bg {
	max-height: 190px;
	overflow: hidden;
	position: relative;
}
.hover-bg .hover-text {
	position: absolute;
	text-align: center;
	margin: 0 auto;
	color: rgba(255,255,255,0.6);
	background: rgba(0, 0, 0, 0.66);
	padding: 25% 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: all 0.5s;
}
.hover-bg .hover-text>h4 {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
	color: #f6f6f6;
}
.hover-bg:hover .hover-text>h4 {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>p {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>p {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.hover-bg .hover-text>i {
	opacity: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	transition: all 0.3s;
}
.hover-bg:hover .hover-text>i {
	opacity: 1;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
}
.hover-bg:hover .hover-text {
	opacity: 1;
}
#works i.fa {
	font-size: 20px;
	padding: 5px;
	color: #F4D03F;
}
/* Team Section */
#team {
	padding: 140px 0;
	background: #e6e6e6;
}
img.img-thumbnail.team-img {
	width: 200px;
	height: 200px;
	border: 0;
	border-radius: 0;
	background-color: #f6f6f6;
}
#team .thumbnail {
	background: transparent;
	border: 0;
}
#team .thumbnail .caption {
	padding: 9px;
	color: #777;
}
/* Testimonials Section */
#achievements {
	background: url(../img/testimonials-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
	color: #ddd;
	padding: 140px 0;
}
#achievements h2 {
	color: #f6f6f6;
}
#achievements blockquote {
	position: relative;
	margin-top: 20px;
	border: 0;
	text-align: center;
	color: rgba(255,255,255,0.8);
}
#achievements i {
	font-size: 24px;
	color: rgba(255,255,255,0.3);
	margin-bottom: 14px;
}
#achievements .clients-name {
	display: inline-block;
	border-top: 1px solid rgba(255,255,255,0.3);
	padding: 20px 0;
	margin-top: 10px;
}
/* Contact Section */
#contact {
	padding: 120px 0 40px 0;
	background: #f6f6f6;
}
#contact .contact-item {
	padding: 10px;
	margin: 10px;
	height: 100px;
	border-radius: 4px;
}
#contact h3 {
	font-size: 20px;
	font-weight: 400;
	margin-top: 40px;
}
#contact form {
	padding: 30px 0;
}
#contact i.fa {
	font-size: 22px;
	color: #e75926;
	margin-bottom: 10px;
}
#contact .text-danger {
	color: #ff3333;
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: inherit;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
#contact .btn-default {
	background: #cf5022;
	border: 0;
	border-radius: 4px;
	padding: 10px 20px;
	color: #f6f6f6;
	margin-top: 15px;
	font-size: 15px;
}
#contact .btn-default:hover, #contact .btn-default:focus {
	color: #f6f6f6;
	background: #a13e1a;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}
#contact .social ul {
	margin-top: 30px;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 24px;
	padding-top: 8px;
	color: #cf5022;
	border-radius: 4px;
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	color: #a13e1a;
}
/* Footer Section*/
#footer {
	background: #333;
	color: #777;
	padding: 20px 0;
	text-align: center;
}
#footer a {
	color: #999999;
}
#footer a:hover, a:focus {
	color: #e75926;
}
#footer p {
	font-size: 13px;
	margin-top: 10px;
}

@media (max-width: 768px) {
.hover-bg .hover-text {
	padding: 20%;
}
}

@media (max-width: 640px) {
#intro .intro-body H1 {
	font-size: 5em;
}
}

#bv-video-skill{
	position: absolute;
	z-index: -2;
}

.bv-video-wrap{
	position: absolute!important;
	z-index: -2!important;
	width: 100%!important;
}
#aboutBox{
	margin:-80px 0 0 0;
	background-color: black;
	padding: 30px;
	border: solid 2px;
	border-color: #cf5022;
	background: url("../img/content-bg.png");
}

.bar {
    height: 20px;
    position: relative;
    /*margin: 20px 0 20px 0;*/
    /*background: #555;*/
    /*-moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;*/
    padding: 5px;
    /*-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
    -moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
    box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);*/
}

.bar > span {
    display: block;
    height: 100%;
    height: 8px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-topright: 20px;
    -moz-border-radius-bottomright: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image: url("../img/pbar-ani.gif");
    /*background-color: rgba(84, 208, 60, 0.78);/*rgba(231, 89, 38, 0.56);*/
    position: relative;
    overflow: hidden;
}

.bar-text{
	/*margin: 20px 0;*/
	color: #E75926;
	font-weight: bolder;
}

.timeline ul {
  /*background: #456990;*/
  padding: 0px 0 50px 0;
}

.timeline code{
	color:#e75926;
	background-color: rgba(51, 51, 51, 0.05);
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #e75926;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #efe8e9;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #efe8e9 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #efe8e9;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  /*background: rgb(167, 167, 167);*/
  /*background: rgb(157, 204, 156);*/
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #efe8e9  transparent transparent;
  }

  .timeline ul li:nth-child(odd) div {
	  transform: translate3d(0px, 0, 0);
	}
}


.download-resume{
	background-color: #e75926;
}

.live-url{
	font-weight: bolder;
	color:#e75827;
	padding-bottom: 20px;
}
.live-url a{
	color:#e75827;

}
.live-url a:hover{
	color:#e75827;
	text-decoration: underline;

}

#experience p, #experience h2{
	color: #f6f6f6;
}
