<div class="social-icon-bar">
  <span>
    <a id='social-icon-bar-toggle' class="btn" onclick="toggleSocialBar()" title="Hide Me :'(">
      <span class="fa fa-chevron-circle-down social-icon-bar-toggle"></span>
    </a>
  </span>
  <p>
    <a class="btn btn-social-icon btn-github" href="https://github.com/mahathun" target="_blank">
      <span class="fa fa-github"></span>
    </a>
  </p>
  <p>
    <a class="btn btn-social-icon btn-bitbucket" href="https://bitbucket.org/mahathun/" target="_blank">
      <span class="fa fa-bitbucket"></span>
    </a>
  </p>
  <p>
    <a class="btn btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/dan-mahavithana-50212b68" target="_blank">
      <span class="fa fa-linkedin"></span>
    </a>
  </p>
  <p>
    <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/mahathun" target="_blank">
      <span class="fa fa-facebook"></span>
    </a>
  </p>
</div>
