---
layout: default
pageN: index
---


<!-- Header -->
<div id="intro">
  <div class="intro-body">
    <div class="container">

          <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 style="text-align:left;"><span class="brand-heading">Dan</span> <br><span class="hidden-xs">Mahavithana</span></h1>
            <p class="intro-text"><span class="typed-el"></span></p>
            <a href="#aboutBox" class="btn btn-default page-scroll">About Me</a> </div>
        </div>

    </div>
  </div>
</div>
<!-- About Section -->
<div id="about">
  <div class="container">
    <div id="aboutBox">
      <div class="section-title text-center center">
        <h2>About Me</h2>
        <hr>
      </div>
      <div class="row">
        <div class="col-md-4"><img src="img/dan.jpg" class="img-responsive"></div>
        <div class="col-md-8">
          <div class="about-text">
            <h4>Who am I</h4>
            <p>An accomplished, self-motivated, creative and hardworking individual with 1 ½ years of work experience as a Software Engineer.

              <ul>
                  <li>specialized in Object – Oriented Design and Analysis with extensive experience in full life cycle of the software design process including requirements definition, prototyping, proof of concept, interface implementation, testing and maintenance.</li>
                  <li>Productive in both team based and self-managed projects with excellent communication skills and having a commercial approach in problem solving.
                  </li>
                  <li>Pursued higher studies in Computer Science at EIT in Napier New Zealand and University of Peradeniya in Sri Lanka with a long term career goal of become a Software Architect.
                  </li>
              </ul>
            </p>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<!-- Skill Section -->
<div id="skills" class="">

  <div class="text-center">
    <div class="container">

    <div class="section-title center">
      <h2>Skills</h2>
      <hr style="margin-bottom:0px;">
    </div>
   <!--  <div class="space"></div> -->
    <div class="row">
      <div class="beehive">

              {% assign row = 1 %}
              {% for skill in site.data.skills %}
                {% assign no = forloop.index0 | modulo: 11 %}
                {% if no == 0  %}

                  {% if row != 6 %}
                     {% if row != 1 %}  </div> {% endif %}
                    <div class="hexrow">
                      <div>
                          <span>{{skill.skill}}</span>
                          <div></div>
                          <div></div>
                      </div>
                  {% endif %}
                  {% assign row = row | plus:1 %}
                {% else %}
                  <div>
                      <span>{{skill.skill}}</span>
                      <div></div>
                      <div></div>
                  </div>
                {% endif %}
              {% endfor %}
          </div>
      </div>
    </div>

    <div class="space"></div>
  </div>

    <div class="video-background">
    <div class="video-foreground">
      <iframe src="https://www.youtube.com/embed/8XXwZXPej3Q?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=8XXwZXPej3Q" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
<div id="vidtop-content">
<div class="vid-info">

  </div>
</div>
</div>
</div>
<!-- Portfolio Section -->
<div id="works">
  <div class="container"> <!-- Container -->
    <div class="section-title text-center center">
      <h2>My Portfolio</h2>
      <hr>
      <div class="clearfix"></div>
      <p>Following are some of the projects I developed/ was involved in.</p>
    </div>
    <div class="categories">
      <ul class="cat">
        <li>
          <ol class="type">
            {% for projectCategory in site.data.projectCategories %}
              <li><a href="#" data-filter="{{projectCategory.category}}" class="{% if forloop.index == 1 %} active{% endif %}">{{projectCategory.displayText}}</a></li>
            {% endfor %}
          </ol>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="row">
      <div class="portfolio-items">
        {% assign sorted = (site.projects | sort: 'sortOrder')  %}
        {% for project in sorted %}
          <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 {{project.projectCategories}}">
            <div class="portfolio-item">
              <div class="hover-bg"> <a href="{{project.modalImageURL}}" title="{{project.description}}" data-title="
              <p>
                  {% for tag in project.tags %}
                    <span class='label label-warning'>{{tag}}</span>
                  {% endfor %}
              </p>
              <p>
                {{project.description}}<br/><br/><a href='{{project.demoURL}}' target='{{project.target}}' class='btn btn-xs btn-primary'>{% if project.moreText %} {{project.moreText}} {% else %} More info &amp; Demo >>{% endif %}</a>
              </p>" rel="prettyPhoto">
                <div class="hover-text">
                  <h4>{{project.title}}</h4>
                  <p>{{project.thumbnailText}}</p>

                </div>
                <img src="{{project.thumbnailImageURL}}" class="img-responsive" alt="{{project.title}}"> </a> </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- Experience Section -->
<div id="experience" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Experience</h2>
      <hr>
      <p>Professional Experience I have.</p>
    </div>
    <div id="row">



      <section class="timeline">
        <ul>
          {% assign jobs = (site.experiences | sort: 'sortOrder') %}
          {% for job in jobs %}
          <li>
            <div>
              <time>{{job.startDate}} – {{job.endDate}}<br>{{job.title}} - ({{job.workPlace}})</time>
                  <span style="text-align:left">
                    {{job.content}}
                  </span>

            </div>
          </li>
          {% endfor %}

        </ul>
      </section>



    </div>
  </div>
</div>
<!-- Achievements -->
<div id="achievements" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>ACHIEVEMENTS</h2>
      <hr>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="row testimonials">
          <div class="col-sm-4">
            <blockquote><i class="fa fa-quote-left"></i>
              <p>Recognised and appreciated as one of the best employees during my probation / trial period at Bileeta.</p>
              <div class="clients-name">
                <p><strong>Bileeta Pvt Ltd</strong><br>
                  <em></em></p>
              </div>
            </blockquote>
          </div>
          <div class="col-sm-4">
            <blockquote><i class="fa fa-quote-left"></i>
              <p>Honoured to receive the 1st place at the Computer quiz competition organized by the Kingswood computer club</p>
              <div class="clients-name">
                <p><strong>Kingswood College</strong><br>
                  <em></em></p>
              </div>
            </blockquote>
          </div>
          <div class="col-sm-4">
            <blockquote><i class="fa fa-quote-left"></i>
              <p>Awarded 6th place in Provincial Education Software Competition for Schools conducted jointly by SEMP &amp; Microsoft Sri Lanka(Pvt)Limited</p>
              <div class="clients-name">
                <p><strong>SEMP &amp; Microsoft Sri Lanka(Pvt)Limited</strong><br>
                  <em></em></p>
              </div>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div id="contact" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Contact Me</h2>
      <hr>
      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diamcommodo nibh ante facilisis.</p> -->
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="col-md-4">
        <div class="contact-item"> <i class="fa fa-map-marker fa-2x"></i>
          <p>393, Cambridge Terrace,<br>
            Naenae,  Lower Hutt,  5011</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-item"> <i class="fa fa-envelope-o fa-2x"></i>
          <p>mahathun.online@gmail.com</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-item"> <i class="fa fa-phone fa-2x"></i>
          <p> +64 21 151 8670<br>
            </p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <h3>Leave me a message</h3>
      <form name="sentMessage" id="contactForm" novalidate>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Name" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="Email" required="required">
              <p class="help-block text-danger"></p>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="4" placeholder="Message" required></textarea>
          <p class="help-block text-danger"></p>
        </div>
        <div id="success"></div>
        <button type="submit" class="btn btn-default">Send Message</button>
      </form>
      <div class="social">
        <h3>Follow me</h3>
        <ul>
          <li><a href="https://github.com/mahathun" title="GitHub Account" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="https://www.facebook.com/mahathun"  title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/mahathun" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <!-- <li><a href="#"><i class="fa fa-dribbble"></i></a></li> -->
          <li><a href="https://bitbucket.org/mahathun/" title="Bitbucket Account" target="_blank"><i class="fa fa-bitbucket"></i></a></li>
          <li><a href="https://www.instagram.com/mahathun/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://nz.linkedin.com/in/dan-mahavithana-50212b68" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
